In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Dataset: https://www.kaggle.com/datasets/thedevastator/airbnb-prices-in-european-cities

### Keterangan Data:

realSum: The total price of the Airbnb listing. (Numeric)

room_type: The type of room being offered (e.g. private, shared, etc.). (Categorical)

room_shared: Whether the room is shared or not. (Boolean)

room_private: Whether the room is private or not. (Boolean)

person_capacity: The maximum number of people that can stay in the room. (Numeric)

host_is_superhost: Whether the host is a superhost or not. (Boolean)

multi: Whether the listing is for multiple rooms or not. (Boolean)

biz: Whether the listing is for business purposes or not. (Boolean)

cleanliness_rating: The cleanliness rating of the listing. (Numeric)

guest_satisfaction_overall: The overall guest satisfaction rating of the listing. (Numeric)

bedrooms: The number of bedrooms in the listing. (Numeric)

dist: The distance from the city centre. (Numeric)

metro_dist	The distance from the nearest metro station. (Numeric)

lng: The longitude of the listing. (Numeric)

lat: The latitude of the listing. (Numeric)

In [2]:
wd = pd.read_csv('Data/amsterdam_weekdays.csv')
we = pd.read_csv('Data/amsterdam_weekends.csv')
wd.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [3]:
we.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749

In [4]:
we.shape, wd.shape

((977, 20), (1103, 20))

### Gabung Dataset

In [5]:
amwd = pd.read_csv('Data/amsterdam_weekdays.csv', index_col=0)
amwd['city'] = 'Amsterdam'
amwe = pd.read_csv('Data/amsterdam_weekends.csv', index_col=0)
amwe['city'] = 'Amsterdam'

atwd = pd.read_csv('Data/athens_weekdays.csv', index_col=0)
atwd['city'] = 'Athens'
atwe = pd.read_csv('Data/athens_weekends.csv', index_col=0)
atwe['city'] = 'Athens'

barwd = pd.read_csv('Data/barcelona_weekdays.csv', index_col=0)
barwd['city'] = 'Barcelona'
barwe = pd.read_csv('Data/barcelona_weekends.csv', index_col=0)
barwe['city'] = 'Barcelona'

berwd = pd.read_csv('Data/berlin_weekdays.csv', index_col=0)
berwd['city'] = 'Berlin'
berwe = pd.read_csv('Data/berlin_weekends.csv', index_col=0)
berwe['city'] = 'Berlin'

budwd = pd.read_csv('Data/budapest_weekdays.csv', index_col=0)
budwd['city'] = 'Budapest'
budwe = pd.read_csv('Data/budapest_weekends.csv', index_col=0)
budwe['city'] = 'Budapest'

liswd = pd.read_csv('Data/lisbon_weekdays.csv', index_col=0)
liswd['city'] = 'Lisbon'
liswe = pd.read_csv('Data/lisbon_weekends.csv', index_col=0)
liswe['city'] = 'Lisbon'

lonwd = pd.read_csv('Data/london_weekdays.csv', index_col=0)
lonwd['city'] = 'London'
lonwe = pd.read_csv('Data/london_weekends.csv', index_col=0)
lonwe['city'] = 'London'

parwd = pd.read_csv('Data/paris_weekdays.csv', index_col=0)
parwd['city'] = 'Paris'
parwe = pd.read_csv('Data/paris_weekends.csv', index_col=0)
parwe['city'] = 'Paris'

rowd = pd.read_csv('Data/rome_weekdays.csv', index_col=0)
rowd['city'] = 'Rome'
rowe = pd.read_csv('Data/rome_weekends.csv', index_col=0)
rowe['city'] = 'Rome'

viewd = pd.read_csv('Data/vienna_weekdays.csv', index_col=0)
viewd['city'] = 'Vienna'
viewe = pd.read_csv('Data/vienna_weekends.csv', index_col=0)
viewe['city'] = 'Vienna'

In [6]:
data_wd = pd.concat([amwd, atwd, barwd, berwd, budwd, liswd, lonwd, parwd, rowd, viewd], ignore_index=True, axis=0)
data_we = pd.concat([amwe, atwe, barwe, berwe, budwe, liswe, lonwe, parwe, rowe, viewe], ignore_index=True, axis=0)

In [7]:
data_wd.head()

,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam

In [8]:
data_wd = data_wd.drop(labels = ["attr_index","attr_index_norm","rest_index","rest_index_norm","lng","lat"], axis = 1)
data_wd["weekend"] = False
data_we = data_we.drop(labels = ["attr_index","attr_index_norm","rest_index","rest_index_norm","lng","lat"], axis = 1)
data_we["weekend"] = True

In [9]:
gabungan = pd.concat([data_wd,data_we], ignore_index=True, axis = 0)

In [10]:
gabungan.to_csv('datafull.csv')

In [11]:
gabungan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   realSum                     51707 non-null  float64
 1   room_type                   51707 non-null  object
 2   room_shared                 51707 non-null  bool
 3   room_private                51707 non-null  bool
 4   person_capacity             51707 non-null  float64
 5   host_is_superhost           51707 non-null  bool
 6   multi                       51707 non-null  int64
 7   biz                         51707 non-null  int64
 8   cleanliness_rating          51707 non-null  float64
 9   guest_satisfaction_overall  51707 non-null  float64
 10  bedrooms                    51707 non-null  int64
 11  dist                        51707 non-null  float64
 12  metro_dist                  51707 non-null  float64
 13  city                        51707 non-null  object
 14  weekend                     51707 non-null  bool
dtypes: bool(4), float64(6), int64(3), object(2)
memory usage: 4.5+ MB

In [12]:
gabungan.shape

(51707, 15)

In [13]:
gabungan.isnull().sum()

realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
city                          0
weekend                       0
dtype: int64